/* --- STILE DELLA BARRA IN ALTO (HEADER) --- */

ion-toolbar {

    --background: #121212;

    --color: #ff6a00;

    border-bottom: 1px solid #333333;
}

/* --- STILE DEL CONTENUTO DELLA PAGINA --- */

h1 {

    color: #ffffff;

    text-align: center;

    font-family: sans-serif;

    margin-top: 50px;
}