<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Progetto Uni - THE GOD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Benvenuti nel Progetto</ion-card-title>
      <ion-card-subtitle>Sviluppato da Vito, Fulvio e Alien</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Questa è la nostra applicazione universitaria creata con Ionic e Angular.
    </ion-card-content>
  </ion-card>

  <ion-list lines="inset">
    <ion-item button (click)="funzioneDiEsempio()">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Gestione Studenti</ion-label>
    </ion-item>
    
    <ion-item button>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Calendario Lezioni</ion-label>
    </ion-item>
  </ion-list>

</ion-content>